h1,
p {
  font-family: Lato;
}
select {
  width: 30%;
  padding: 6px;
  margin: 3px;
}
input {
  width: 40%;
  padding: 3px;
  margin: 3px;
}
body {
  width: 90%;
  margin: auto;
}
.btn-primary button {
  width: 100%;
  line-height: 30px;
  margin-top: 15px;
  cursor: pointer;
}
